<div class="cockpit-layout">
  <main class="cockpit-main">
    <app-cockpit-header
      [title]="decisionDefinition?.name || decisionId"
      [breadcrumbs]="breadcrumbs"
      [showRefresh]="true"
    ></app-cockpit-header>

    <div class="page-content">
      <!-- Loading state -->
      <div class="loading-state" *ngIf="loading">
        <fa-icon [icon]="faSpinner" animation="spin"></fa-icon>
        <span>{{ 'common.loading' | translate }}</span>
      </div>

      <!-- Content -->
      <div class="decision-page-layout" *ngIf="!loading && decisionDefinition">
        <!-- Sidebar -->
        <aside class="decision-sidebar">
          <dl class="decision-info-list">
            <!-- Definition Version -->
            <dt>{{ 'cockpit.decisionDetail.definitionVersion' | translate }}</dt>
            <dd class="definition-version">
              <div class="version-dropdown" *ngIf="allVersions.length > 1" (clickOutside)="closeVersionDropdown()">
                <button class="version-btn" (click)="toggleVersionDropdown()">
                  <span>{{ decisionDefinition.version }}</span>
                  <fa-icon [icon]="faChevronDown" class="dropdown-icon" [class.open]="versionDropdownOpen"></fa-icon>
                </button>
                <ul class="version-list" *ngIf="versionDropdownOpen">
                  <li *ngFor="let version of allVersions">
                    <a (click)="selectVersion(version)" [class.active]="version.id === decisionDefinition.id">
                      {{ version.version }}
                    </a>
                  </li>
                </ul>
              </div>
              <span *ngIf="allVersions.length <= 1">{{ decisionDefinition.version }}</span>
            </dd>

            <!-- Version Tag -->
            <dt>{{ 'cockpit.decisionDetail.versionTag' | translate }}</dt>
            <dd class="version-tag">
              <span *ngIf="decisionDefinition.versionTag">{{ decisionDefinition.versionTag }}</span>
              <span *ngIf="!decisionDefinition.versionTag" class="null-value">null</span>
            </dd>

            <!-- Definition ID -->
            <dt class="copyable" (click)="copyToClipboard(decisionDefinition.id, 'id')">
              {{ 'cockpit.decisionDetail.id' | translate }}
              <fa-icon [icon]="isCopied('id') ? faCheck : faCopy" class="copy-icon" [class.copied]="isCopied('id')"></fa-icon>
            </dt>
            <dd class="definition-id mono">{{ decisionDefinition.id }}</dd>

            <!-- Definition Key -->
            <dt class="copyable" (click)="copyToClipboard(decisionDefinition.key, 'key')">
              {{ 'cockpit.decisionDetail.key' | translate }}
              <fa-icon [icon]="isCopied('key') ? faCheck : faCopy" class="copy-icon" [class.copied]="isCopied('key')"></fa-icon>
            </dt>
            <dd class="definition-key mono">{{ decisionDefinition.key }}</dd>

            <!-- Definition Name -->
            <dt>{{ 'cockpit.decisionDetail.name' | translate }}</dt>
            <dd class="definition-name">
              <span *ngIf="decisionDefinition.name && decisionDefinition.name !== decisionDefinition.key">{{ decisionDefinition.name }}</span>
              <span *ngIf="!decisionDefinition.name || decisionDefinition.name === decisionDefinition.key" class="null-value">null</span>
            </dd>

            <!-- History Time To Live -->
            <dt class="copyable" *ngIf="decisionDefinition.historyTimeToLive !== undefined" (click)="copyToClipboard('' + decisionDefinition.historyTimeToLive, 'ttl')">
              {{ 'cockpit.decisionDetail.historyTimeToLive' | translate }}
              <fa-icon [icon]="isCopied('ttl') ? faCheck : faCopy" class="copy-icon" [class.copied]="isCopied('ttl')"></fa-icon>
            </dt>
            <dd *ngIf="decisionDefinition.historyTimeToLive !== undefined" class="history-ttl">
              <span *ngIf="decisionDefinition.historyTimeToLive !== null">{{ decisionDefinition.historyTimeToLive }} {{ 'cockpit.decisionDetail.days' | translate }}</span>
              <span *ngIf="decisionDefinition.historyTimeToLive === null" class="null-value">null</span>
            </dd>

            <!-- Tenant ID -->
            <dt class="copyable" *ngIf="decisionDefinition.tenantId" (click)="copyToClipboard(decisionDefinition.tenantId, 'tenant')">
              {{ 'cockpit.decisionDetail.tenantId' | translate }}
              <fa-icon [icon]="isCopied('tenant') ? faCheck : faCopy" class="copy-icon" [class.copied]="isCopied('tenant')"></fa-icon>
            </dt>
            <dd *ngIf="decisionDefinition.tenantId" class="tenant-id mono">{{ decisionDefinition.tenantId }}</dd>
            <dt *ngIf="!decisionDefinition.tenantId">{{ 'cockpit.decisionDetail.tenantId' | translate }}</dt>
            <dd *ngIf="!decisionDefinition.tenantId" class="tenant-id"><span class="null-value">null</span></dd>

            <!-- Deployment ID -->
            <dt class="copyable" (click)="copyToClipboard(decisionDefinition.deploymentId, 'deployment')">
              {{ 'cockpit.decisionDetail.deploymentId' | translate }}
              <fa-icon [icon]="isCopied('deployment') ? faCheck : faCopy" class="copy-icon" [class.copied]="isCopied('deployment')"></fa-icon>
            </dt>
            <dd class="deployment-id">
              <a [href]="getDeploymentUrl()" class="link-value mono">{{ decisionDefinition.deploymentId }}</a>
            </dd>

            <!-- Decision Requirements Definition (DRD) -->
            <dt class="copyable" *ngIf="decisionDefinition.decisionRequirementsDefinitionId" (click)="copyToClipboard(decisionDefinition.decisionRequirementsDefinitionId!, 'drd')">
              {{ 'cockpit.decisionDetail.drdId' | translate }}
              <fa-icon [icon]="isCopied('drd') ? faCheck : faCopy" class="copy-icon" [class.copied]="isCopied('drd')"></fa-icon>
            </dt>
            <dd *ngIf="decisionDefinition.decisionRequirementsDefinitionId" class="drd-id">
              <a [routerLink]="['/cockpit/decision-requirement', decisionDefinition.decisionRequirementsDefinitionId]" class="link-value mono">
                {{ decisionDefinition.decisionRequirementsDefinitionId }}
              </a>
            </dd>
            <dt *ngIf="!decisionDefinition.decisionRequirementsDefinitionId">{{ 'cockpit.decisionDetail.drdId' | translate }}</dt>
            <dd *ngIf="!decisionDefinition.decisionRequirementsDefinitionId" class="drd-id"><span class="null-value">null</span></dd>
          </dl>
        </aside>

        <!-- Main Content -->
        <div class="decision-content">
          <!-- DMN Table Viewer -->
          <div class="dmn-table-container" *ngIf="dmnXml && decisionDefinition">
            <app-dmn-viewer
              [xml]="dmnXml"
              [decisionId]="decisionDefinition.key"
            ></app-dmn-viewer>
          </div>

          <!-- Tabs -->
          <div class="tabs-container">
            <div class="tabs-header">
              <button
                *ngFor="let tab of tabs"
                class="tab-btn"
                [class.active]="activeTab === tab.id"
                (click)="setActiveTab(tab.id)"
              >
                <fa-icon [icon]="tab.icon"></fa-icon>
                <span>{{ tab.labelKey | translate }}</span>
                <span *ngIf="tab.id === 'instances'" class="badge">{{ instancesCount }}</span>
              </button>
            </div>

            <div class="tab-content">
              <!-- Instances Tab -->
              <div class="tab-pane" *ngIf="activeTab === 'instances'">
                <!-- Instances Table -->
                <div class="instances-table-container" *ngIf="instancesCount > 0">
                  <table class="instances-table cam-table">
                    <thead>
                      <tr>
                        <th
                          *ngFor="let column of instanceColumns"
                          [class.sortable-header]="column.sortable"
                          [class.sorted]="instancesSortConfig.sortBy === column.id"
                          (click)="column.sortable && onInstancesSort(column.id)"
                        >
                          <span class="header-content">
                            {{ column.label | translate }}
                            <fa-icon
                              *ngIf="column.sortable"
                              [icon]="getInstancesSortIcon(column.id)"
                              class="sort-icon"
                              [class.active]="instancesSortConfig.sortBy === column.id"
                            ></fa-icon>
                          </span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let instance of decisionInstances">
                        <td class="instance-id-cell">
                          <a [routerLink]="['/cockpit/decision-instance', instance.id]" class="instance-link" [title]="instance.id">
                            {{ truncateId(instance.id, 8) }}
                          </a>
                          <button class="copy-btn" (click)="copyToClipboard(instance.id, 'inst-' + instance.id)" [title]="'Copy ID'">
                            <fa-icon [icon]="isCopied('inst-' + instance.id) ? faCheck : faCopy"></fa-icon>
                          </button>
                        </td>
                        <td class="evaluation-time-cell">
                          {{ formatDate(instance.evaluationTime) }}
                        </td>
                        <td class="process-def-cell">
                          <a *ngIf="instance.processDefinitionKey" [href]="getProcessDefinitionUrl(instance)" class="process-link">
                            {{ instance.processDefinitionKey }}
                          </a>
                          <span *ngIf="!instance.processDefinitionKey && instance.caseDefinitionKey">
                            {{ instance.caseDefinitionKey }}
                          </span>
                          <span *ngIf="!instance.processDefinitionKey && !instance.caseDefinitionKey" class="null-value">-</span>
                        </td>
                        <td class="process-instance-cell">
                          <a *ngIf="instance.processInstanceId" [href]="getProcessInstanceUrl(instance)" class="process-link" [title]="instance.processInstanceId">
                            {{ truncateId(instance.processInstanceId, 8) }}
                          </a>
                          <span *ngIf="!instance.processInstanceId && instance.caseInstanceId" [title]="instance.caseInstanceId">
                            {{ truncateId(instance.caseInstanceId, 8) }}
                          </span>
                          <span *ngIf="!instance.processInstanceId && !instance.caseInstanceId" class="null-value">-</span>
                        </td>
                        <td class="activity-id-cell">
                          <span *ngIf="instance.activityId">{{ instance.activityId }}</span>
                          <span *ngIf="!instance.activityId" class="null-value">-</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Pagination -->
                <div class="pagination-container" *ngIf="instancesCount > instancesPageSize">
                  <div class="pagination-info">
                    <span>{{ 'cockpit.decisions.showing' | translate }} {{ instancesStartIndex }}-{{ instancesEndIndex }} {{ 'cockpit.decisions.of' | translate }} {{ instancesCount }}</span>
                  </div>

                  <div class="pagination-controls">
                    <button class="pagination-btn" [disabled]="instancesCurrentPage === 1" (click)="onInstancesPageChange(1)">
                      <fa-icon [icon]="faAnglesLeft"></fa-icon>
                    </button>
                    <button class="pagination-btn" [disabled]="instancesCurrentPage === 1" (click)="onInstancesPageChange(instancesCurrentPage - 1)">
                      <fa-icon [icon]="faChevronLeft"></fa-icon>
                    </button>
                    <span class="page-indicator">
                      {{ 'cockpit.pagination.page' | translate }} {{ instancesCurrentPage }} {{ 'cockpit.pagination.of' | translate }} {{ instancesTotalPages }}
                    </span>
                    <button class="pagination-btn" [disabled]="instancesCurrentPage === instancesTotalPages" (click)="onInstancesPageChange(instancesCurrentPage + 1)">
                      <fa-icon [icon]="faChevronRight"></fa-icon>
                    </button>
                    <button class="pagination-btn" [disabled]="instancesCurrentPage === instancesTotalPages" (click)="onInstancesPageChange(instancesTotalPages)">
                      <fa-icon [icon]="faAnglesRight"></fa-icon>
                    </button>
                  </div>

                  <div class="page-size-selector">
                    <select [(ngModel)]="instancesPageSize" (ngModelChange)="onInstancesPageSizeChange()">
                      <option *ngFor="let size of instancesPageSizeOptions" [value]="size">{{ size }}</option>
                    </select>
                  </div>
                </div>

                <!-- Empty state -->
                <div class="empty-state" *ngIf="instancesCount === 0">
                  <fa-icon [icon]="faHistory"></fa-icon>
                  <p>{{ 'cockpit.decisionDetail.noInstances' | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Not found -->
      <div class="empty-state" *ngIf="!loading && !decisionDefinition">
        <fa-icon [icon]="faTable"></fa-icon>
        <p>{{ 'cockpit.decisionDetail.notFound' | translate }}</p>
      </div>
    </div>
  </main>
</div>
