<module xmlns="urn:jboss:module:1.0" name="io.orqueio.bpm.dmn.orqueio-engine-dmn">
  <resources>
    <resource-root path="orqueio-engine-dmn-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.joda.time" slot="2.1" />
    
    <module name="io.orqueio.commons.orqueio-commons-utils" />
    <module name="io.orqueio.commons.orqueio-commons-logging" />
    <module name="io.orqueio.commons.orqueio-commons-typed-values" export="true" />
    <module name="io.orqueio.bpm.juel.orqueio-juel" services="import"/>
    <module name="io.orqueio.bpm.model.orqueio-dmn-model" />
    <module name="io.orqueio.bpm.dmn.orqueio-engine-feel-api" />
    <module name="io.orqueio.bpm.dmn.orqueio-engine-feel-juel" />
    <module name="io.orqueio.bpm.dmn.orqueio-engine-feel-scala" export="true" />
  </dependencies>
</module>
