<module xmlns="urn:jboss:module:1.0" name="io.orqueio.bpm.identity.orqueio-identity-ldap">
  <resources>
    <resource-root path="orqueio-identity-ldap-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="sun.jdk" />

    <module name="javax.api" />
    <module name="io.orqueio.bpm.orqueio-engine" />
    <module name="io.orqueio.commons.orqueio-commons-logging" />

  </dependencies>
</module>
