<module xmlns="urn:jboss:module:1.0" name="io.orqueio.template-engines.orqueio-template-engines-freemarker">
  <resources>
    <resource-root path="orqueio-template-engines-freemarker-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.scripting" />
    <module name="org.freemarker.freemarker" />
  </dependencies>
</module>
