<module xmlns="urn:jboss:module:1.0" name="io.orqueio.bpm.orqueio-engine-plugin-connect">
  <resources>
    <resource-root path="orqueio-engine-plugin-connect-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />

    <module name="io.orqueio.bpm.orqueio-engine" />

    <module name="io.orqueio.connect.orqueio-connect-core" />
    <module name="io.orqueio.connect.orqueio-connect-http-client" services="import" />
    <module name="io.orqueio.connect.orqueio-connect-soap-http-client" services="import" />

  </dependencies>
</module>
