<module xmlns="urn:jboss:module:1.0" name="io.orqueio.connect.orqueio-connect-core">
  <resources>
    <resource-root path="orqueio-connect-core-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="io.orqueio.commons.orqueio-commons-logging" />
    <module name="io.orqueio.commons.orqueio-commons-utils" />
  </dependencies>
</module>
