<div class="batch-history-list">
  <h3 class="section-title">{{ 'BATCHES_PROGRESS_END' | translate }}</h3>

  <ng-container *ngIf="shouldLoad$ | async; else loadButton">
    <ng-container *ngIf="loading$ | async as loading">
      <div *ngIf="loading === 'LOADING'" class="loading-state">
        <fa-icon [icon]="faSpinner" [animation]="'spin'" size="2x"></fa-icon>
        <p>{{ 'LOADING' | translate }}</p>
      </div>

      <div *ngIf="loading === 'EMPTY'" class="empty-state">
        <p>{{ 'BATCHES_PROGRESS_NO_FINISHED' | translate }}</p>
      </div>

      <div *ngIf="loading === 'ERROR'" class="error-state">
        <p>{{ 'ERROR_LOADING_DATA' | translate }}</p>
      </div>

      <!-- Table -->
      <ng-container *ngIf="loading === 'LOADED'">
        <ng-container *ngIf="{
          batches: batches$ | async,
          sorting: sorting$ | async,
          selectedBatch: selectedBatch$ | async,
          count: count$ | async,
          currentPage: currentPage$ | async,
          pageSize: pageSize$ | async
        } as data">
          <div class="table-container">
            <table class="batch-table">
              <thead>
                <tr>
                  <th *ngFor="let column of columns"
                      [class.sortable]="column.sortable"
                      (click)="column.sortable && onSort(column, data.sorting!)">
                    {{ column.label | translate }}
                    <fa-icon *ngIf="column.sortable"
                             [icon]="getSortIcon(column, data.sorting!)"
                             class="sort-icon">
                    </fa-icon>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let batch of data.batches; trackBy: trackByBatchId"
                    [class.selected]="isSelected(batch, data.selectedBatch)"
                    (click)="onBatchClick(batch)">
                  <td class="batch-id">
                    <a class="batch-link">{{ batch.id }}</a>
                  </td>
                  <td class="batch-type">{{ batch.type }}</td>
                  <td class="batch-time">{{ batch.startTime | camDate }}</td>
                  <td class="batch-time">{{ batch.endTime | camDate }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <app-pagination
            *ngIf="data.count! > data.pageSize!"
            [current]="data.currentPage!"
            [total]="data.count!"
            [size]="data.pageSize!"
            (pageChange)="onPageChange($event)">
          </app-pagination>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #loadButton>
    <div class="load-history">
      <button class="btn btn-secondary" (click)="onLoadHistory()">
        {{ 'BATCHES_LOAD_ENDED' | translate }}
      </button>
    </div>
  </ng-template>
</div>
