<module xmlns="urn:jboss:module:1.0" name="io.orqueio.connect.orqueio-connect-soap-http-client">
  <resources>
    <resource-root path="orqueio-connect-soap-http-client-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="org.slf4j" />
    <module name="io.orqueio.commons.orqueio-commons-logging" />
    <module name="io.orqueio.commons.orqueio-commons-utils" />

    <module name="io.orqueio.connect.orqueio-connect-core" />
    <module name="io.orqueio.connect.orqueio-connect-http-client" />

    <module name="org.apache.httpcomponents.client5.httpclient5" />
  </dependencies>
</module>
