<aside class="cockpit-sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <div class="logo" *ngIf="!isCollapsed">
      <img src="images/cockpit.svg" alt="Cockpit" class="logo-img" />
      <span class="logo-text">Cockpit</span>
    </div>
    <button class="toggle-btn" (click)="toggleSidebar()" [attr.aria-label]="isCollapsed ? 'Expand sidebar' : 'Collapse sidebar'">
      <fa-icon [icon]="isCollapsed ? faChevronRight : faChevronLeft"></fa-icon>
    </button>
  </div>

  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li *ngFor="let item of menuItems" class="nav-item">
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.exact }"
          class="nav-link"
          [title]="isCollapsed ? (item.label | translate) : ''"
        >
          <fa-icon [icon]="item.icon" class="nav-icon"></fa-icon>
          <span class="nav-label" *ngIf="!isCollapsed">{{ item.label | translate }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-footer" *ngIf="!isCollapsed">
    <a routerLink="/" class="back-link">
      &larr; {{ 'cockpit.backToHome' | translate }}
    </a>
  </div>
</aside>
