<module xmlns="urn:jboss:module:1.0" name="io.orqueio.connect.camunda-connect-core">
  <resources>
    <resource-root path="camunda-connect-core-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="io.orqueio.commons.camunda-commons-logging" />
    <module name="io.orqueio.commons.camunda-commons-utils" />
  </dependencies>
</module>
