<module xmlns="urn:jboss:module:1.0" name="io.orqueio.spin.orqueio-spin-dataformat-xml-dom">
  <resources>
    <resource-root path="orqueio-spin-dataformat-xml-dom-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="javax.xml.bind.api"/>
    <module name="io.orqueio.spin.orqueio-spin-core" />
    <module name="io.orqueio.commons.orqueio-commons-logging" />
    <module name="io.orqueio.commons.orqueio-commons-utils" />
    <module name="io.orqueio.commons.orqueio-commons-typed-values" />
  </dependencies>

</module>
