<module xmlns="urn:jboss:module:1.0" name="io.orqueio.bpm.qa.orqueio-qa-ensure-clean-db">
  <resources>
    <resource-root path="orqueio-qa-ensure-clean-db-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="io.orqueio.bpm.orqueio-engine" />

  </dependencies>
</module>
