<module xmlns="urn:jboss:module:1.0" name="io.orqueio.commons.orqueio-commons-utils">
  <resources>
    <resource-root path="orqueio-commons-utils-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="io.orqueio.commons.orqueio-commons-logging" />
  </dependencies>
</module>
