<module xmlns="urn:jboss:module:1.0" name="io.orqueio.bpm.camunda-engine-plugin-spin">
  <resources>
    <resource-root path="camunda-engine-plugin-spin-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="org.joda.time" slot="2.1" />

    <module name="io.orqueio.commons.camunda-commons-typed-values" />
    <module name="io.orqueio.commons.camunda-commons-logging" />
    <module name="io.orqueio.bpm.camunda-engine" />

    <module name="io.orqueio.spin.camunda-spin-core" />
    <module name="io.orqueio.spin.camunda-spin-dataformat-json-jackson" services="import" />
    <module name="io.orqueio.spin.camunda-spin-dataformat-xml-dom" services="import" />

    <module name="io.orqueio.bpm.dmn.camunda-engine-feel-scala" />
    <module name="io.orqueio.feel.feel-engine" />
  </dependencies>
</module>
