<div class="modal-backdrop" (click)="onBackdropClick($event)">
  <div class="modal-container modal-sm correlate-message-modal" role="dialog" aria-modal="true">
    <div class="modal-header">
      <h3 class="modal-title">{{ 'cockpit.correlateMessage.title' | translate }}</h3>
    </div>
    <div class="modal-body">
      <div class="modal-form-group">
        <label>{{ 'cockpit.correlateMessage.messageNameLabel' | translate }}</label>
        <div class="cm-input-wrap">
          <input
            type="text"
            class="modal-input"
            [(ngModel)]="inputValue"
            [placeholder]="'cockpit.correlateMessage.messageNamePlaceholder' | translate"
            (focus)="suggestionsEnabled && (showDropdown = true)"
            (blur)="onInputBlur()"
            autocomplete="off"
          />
          <ul class="cm-suggestions" *ngIf="suggestionsEnabled && showDropdown && filteredSuggestions.length > 0">
            <li *ngFor="let s of filteredSuggestions" (mousedown)="selectSuggestion(s)">{{ s }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="modal-btn modal-btn-secondary" (click)="onCancel()">
        {{ 'common.cancel' | translate }}
      </button>
      <button type="button" class="modal-btn modal-btn-primary" (click)="onConfirm()">
        {{ 'cockpit.correlateMessage.openBatchBtn' | translate }}
      </button>
    </div>
  </div>
</div>
