<div class="dialog-backdrop" (click)="onBackdropClick($event)">
  <div class="dialog-container" role="dialog" aria-modal="true">
    <div class="dialog-header">
      <h3 class="dialog-title">{{ 'admin.users.createUser' | translate }}</h3>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="dialog-body">
        <h4 class="section-title">{{ 'admin.users.account' | translate }}</h4>

        <div class="form-group">
          <label for="userId">{{ 'admin.users.id' | translate }} *</label>
          <input
            id="userId"
            type="text"
            formControlName="id"
            class="form-control"
            [class.is-invalid]="idError" />
          <span *ngIf="idError" class="error-message">
            {{ idError | translate }}
          </span>
        </div>

        <div class="form-group">
          <label for="password">{{ 'admin.users.password' | translate }} *</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            class="form-control"
            [class.is-invalid]="passwordError" />
          <span *ngIf="passwordError" class="error-message">
            {{ passwordError | translate }}
          </span>
        </div>

        <div class="form-group">
          <label for="password2">{{ 'admin.users.confirmPassword' | translate }} *</label>
          <input
            id="password2"
            type="password"
            formControlName="password2"
            class="form-control"
            [class.is-invalid]="userForm.hasError('passwordMismatch') && userForm.get('password2')?.touched" />
          <span *ngIf="userForm.hasError('passwordMismatch') && userForm.get('password2')?.touched" class="error-message">
            {{ 'admin.users.passwordsNotEqual' | translate }}
          </span>
        </div>

        <h4 class="section-title">{{ 'admin.users.profile' | translate }}</h4>

        <div class="form-group">
          <label for="firstName">{{ 'admin.users.firstName' | translate }} *</label>
          <input
            id="firstName"
            type="text"
            formControlName="firstName"
            class="form-control"
            [class.is-invalid]="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched" />
          <span *ngIf="userForm.get('firstName')?.hasError('required') && userForm.get('firstName')?.touched" class="error-message">
            {{ 'admin.users.firstNameRequired' | translate }}
          </span>
        </div>

        <div class="form-group">
          <label for="lastName">{{ 'admin.users.lastName' | translate }} *</label>
          <input
            id="lastName"
            type="text"
            formControlName="lastName"
            class="form-control"
            [class.is-invalid]="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched" />
          <span *ngIf="userForm.get('lastName')?.hasError('required') && userForm.get('lastName')?.touched" class="error-message">
            {{ 'admin.users.lastNameRequired' | translate }}
          </span>
        </div>

        <div class="form-group">
          <label for="email">{{ 'admin.users.email' | translate }}</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control"
            [class.is-invalid]="userForm.get('email')?.invalid && userForm.get('email')?.touched" />
          <span *ngIf="userForm.get('email')?.hasError('email') && userForm.get('email')?.touched" class="error-message">
            {{ 'admin.users.emailInvalid' | translate }}
          </span>
        </div>
      </div>

      <div class="dialog-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onCancel()"
          [disabled]="saving">
          {{ 'CANCEL' | translate }}
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!userForm.valid || saving">
          <span *ngIf="saving">{{ 'CREATING' | translate }}...</span>
          <span *ngIf="!saving">{{ 'admin.users.createNewUser' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
