<module xmlns="urn:jboss:module:1.0" name="io.orqueio.bpm.identity.camunda-identity-ldap">
  <resources>
    <resource-root path="camunda-identity-ldap-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="sun.jdk" />

    <module name="java.base" />
    <module name="java.naming" />
    <module name="io.orqueio.bpm.camunda-engine" />
    <module name="io.orqueio.commons.camunda-commons-logging" />

  </dependencies>
</module>
